 {% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='style.css')}}">

{% endblock %}

{% block content %} 
   

<!DOCTYPE html>
<html>
<title>Proj</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">



</script>

<script>

<!-- FOR ORDER STATUS -->

$(document).ready(function(){
    $("#disp1").click(function(){
        $("#div1").fadeToggle(2000);
       
    });
});






</script>
<style type="text/css">
#yas button
{
  margin-left:5px;
  margin-right: 10px;
}
</style>
<body>


<!-- <body style="background-image: url('backgr1.png');" > -->
<!-- The Modal -->
 
<!-- Navbar -->

<div class="w3-top" style="z-index:5;box-shadow:10px 10px grey">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
   
<!-- <form  method="POST" action="/addorder"> -->


    <a class="btn btn-success" href="/addorder"  style="margin:6px;width:150px;border-radius:20px "type="submit">Add Order</a>
<!-- </form> -->
    <button type="button" class="btn btn-danger pull-right" id="yas" style="margin:6px;width:150px">Logout</button>

</div>
</div>


<!-- Sidebar -->
<div style="z-index:3">
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <!-- <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a> -->
  
  <h4 class="w3-bar-item"><b>Order List</b></h4>
  <table>
  {% for k in orders2 %} 
      <tr class="success">
        <td ><a class="btn" style="width:180px;background-color:#7a8487;box-shadow:3px 3px 3px 3px #888888" href="#"><h6 style="text-shadow:0 0 3px #a5aeaf">{{ k[0] }} &nbsp</h6></a></td>

      </tr>
  {% endfor %}
  </table>
</nav>
</div>

<!-- Overlay effect when opening sidebar on small screens -->
  <!-- <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
 -->
<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
 <div id="divmain" class="w3-row w3-padding-32">
  
  <br/>
  
  
  
<div id="div1">
  {% if current_user.is_authenticated %}
    Hi {{ current_user.username }}!
  {% endif %}
  <span><center><h1 class="w3-text-teal">Order Status</h1></center></span>
<div class="w3-section w3-light-grey">
  <div class="w3-container w3-padding-large w3-blue w3-center" style="width:50%">50%</div>
</div>

</div>
<br/>
<br/>
  
  
  <!---  ---------------------------------TEMP CHANGE 1 -->
  <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
           <table>
   <tr>
                        <th>Order ID &nbsp</th>
                        <th>Order Name &nbsp</th>
                        <th>Seller ID &nbsp</th>
                        <th>User ID &nbsp</th>
                        <th>Source Address &nbsp</th>
                </tr>
                {% for k in orders1 %}
                        <tr>
                                <td>{{ k[0] }}&nbsp</td>
                                <td>{{ k[1] }}&nbsp</td>
                                <td>{{ k[2] }}&nbsp</td>
                                <td>{{ k[3] }}&nbsp</td>
                                <td>{{ k[4] }}&nbsp</td>
                        </tr>
                {% endfor %} 
</table>
</div>
  
  <!---  ---------------------------------TEMP CHANGE 1 -->
  
  

  
  
  



  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a class="w3-button w3-black" href="#">1</a>
      <a class="w3-button w3-hover-black" href="#">2</a>
      <a class="w3-button w3-hover-black" href="#">3</a>
      <a class="w3-button w3-hover-black" href="#">4</a>
      <a class="w3-button w3-hover-black" href="#">5</a>
      <a class="w3-button w3-hover-black" href="#">&raquo;</a>
    </div>
  </div>

  
  
  
  
  
  
  
  
  
  
  
  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      <h4>Footer</h4>
    </div>

    <div class="w3-container w3-theme-l1">
      <p>Testing File 1</p>
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}


</script>

</body>
</html>
{% endblock %}  